<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="dbConnect">jdbc:mariadb://localhost:3306/dawinble</entry>
<entry key="dbUser">root</entry>
<entry key="dbPassword">dawinit1</entry>
<entry key="restConnect">http://59.6.192.225:9988/</entry>
</properties>
